body {
    background-color: #1d1d1d;
    color: #fff;
    font-family: sans-serif;
    margin: auto;
    width: 40%;
}

img.avatar {
    border-radius: 70%;
}

.foto{
    margin-left: 35%;
    margin-bottom: -15%;
    margin-top: 5%;
}

.contenuto{
    float:center;
    text-align: left;
    font-size: 16px;   
    margin-top: 25%;
}